<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>QnA {{ title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">

  <style media="screen">
  .buttonx {
    background-color: #f1efff; /* Green */
    border: none;
    width:43%;
    text-align: center;
    border-radius: 10px;
    height:73%;
    margin:3%;
    outline-style: none!important;
    float:left;
    display: block;

  }
  /* width */
  ::-webkit-scrollbar {
    width: 13px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  </style>
</head>

<body style="background-color:#1030bb2b;" >

  <div class="row ml-3 mr-3 mt-4 mb-2"><!--entire page-->

      <div class="col-sm-4">
<!--if not authenticated -->
{% if user.is_authenticated %}
        <div class="row" style="height:200px;border-style:none!important;"><!--height 120px if not authenticated-->
          <div class="col-sm-12 bg-white" style="border-radius:15px; ">
            <a href="{% url 'my-question' %}"><button type="submit" class="buttonx btn-sm" style="height:37%; margin-top:4%; font-size:18px; font-weight:600;">My Questions</button></a>
            <a href="{% url 'my-answer' %}"><button type="submit" class="buttonx btn-sm" style="float:right; background-color:#ffccff; height:37%; margin-top:4%; font-size:18px;font-weight:600;">My Answers</button></a>
            <a href="{% url 'question-create' %}"><button type="submit" class="buttonx btn-sm" style="height:37%; margin-top:1%; margin-bottom:3%; font-size:18px; font-weight:600; background-color: #ccffe6;">Ask Question</button></a>
            <a href="{% url 'logout' %}"><button type="submit" class="buttonx btn-sm" style="float:right; background-color: #ffb3b3; height:37%; margin-top:1%; margin-bottom:3%; font-size:18px; font-weight:600;">Logout</button></a>
          </div>
        </div>
<!-- if authenticated -->
{% else %}
        <div class="row" style="height:120px;border-style:none!important;"><!--heifght 120 px if not authenticated-->
          <div class="col-sm-12 bg-white" style="border-radius:15px; ">
            <a href="{% url 'login' %}"><button class="buttonx btn-sm"><strong>Login</strong></button></a>
            <a href="{% url 'register' %}"><button class="buttonx" style="float:right; background-color:#ffccff;"><strong>Register</strong></button></a>
          </div>
        </div>

{% endif %}
<!--first block complete-->

        <br> <!--space between first and seconda block-->






        <!--trending question block-->
        {% if user.is_authenticated %}
                <div class="row" style="height:470px;border-style:none!important;">
                  <div class="col-sm-12 bg-white" style="border-radius:15px; ">
                    <br>
                    <!--card start-->
                    <div class="card" >
                      <div class="card-body">
                        <h5 class="card-title"style="text-align:center;"> -- Trending Questions --</h5>

                        <div style="overflow-y:auto;height:320px;">
        {% else %}
                <div class="row" style="height:550px;border-style:none!important;"><!--height:550px if not authenticated -->
                  <div class="col-sm-12 bg-white" style="border-radius:15px; ">
                    <br>
                    <!--card start-->
                    <div class="card" >
                      <div class="card-body">
                        <h5 class="card-title"style="text-align:center;"> -- Trending Questions --</h5>

                        <div style="overflow-y:auto; height:400px;">
        {% endif %}


                          <!--trending-question-->
                          {% for t in trending_question %}
                            <a href="{% url 'question-detail' t.0 %}" style="text-decoration:none;"><p class="card-text"><small style="color:black;">*</small> {{ t.1 }} <small style="color:black;">({{ t.2 }} Anwers)</small> </p></a><br>
                          {% endfor %}

                        </div>
                        <br>
                      </div>
                    </div>
                    <!---card end-->

                  </div>
                </div>








        <br> <!--trending question blog complete-->
      </div><!--first half page complete-->

      <!--<div class="col-md-1"></div>-->

      <div class="col-sm-8" style="">

        <div class="row">
          <div class="p-3" ></div>
          <div class="col-sm-11 bg-white" style="height:696px; border-radius:15px; ">
            <div class="row pt-2">
                <span class="material-icons" style="font-size:45px;margin:0 auto;"><a href="{% url 'home' %}" style="  text-decoration:none; color:grey;">home</a></span>
          </div>

            <!--card start-->
            <div class="card pb-4"style="margin:1% 2%;">
              <div class="card-body pt-1">
                <div style="overflow-y:auto;height:560px;">





{% block content %}

{% endblock %}




                </div>
              </div>
            </div>
            <!--card end-->


          </div>
        </div>

      </div>

  </div>

</body>
</html>
