{% extends "ui/base.html" %}
{% block content %}

{% if user.is_authenticated %}

  <h5 class="card-title mt-3"style="text-align:center;"> -- My Answers --</h5>

    {% for i in my_answer_list %}


      <div class="card mt-3" style="width:95%;">
      <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p class="card-text">Q : {{ i.0 }}</p>
            <footer class="blockquote-footer">{{ i.1 }}</footer>
          </blockquote>
        </div>
      </div>


    {% endfor %}

{% endif %}

{% endblock %}
