{% extends "ui/base.html" %}

{% block content %}


{% if user.is_authenticated %}

  <h5 class="card-title mt-3"style="text-align:center;"> -- My Questions --</h5>

    {% for i in q_list %}

      {% if request.user == i.user %}

          <div class="card mt-3" style="width:95%;">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-10">
                <p class="card-text">Q : <a href="{% url 'question-detail' i.pk %}" style="text-decoration:none;">{{ i.question }}</a></p>
              </div>
              <!--<div class="col-sm-2">{{ i.answer_count }} <span class="material-icons">star_border</span></div>-->
             <!--{{ i.created_time.date }} for date-->
            </div>
          </div>
          </div>

      {% endif %}

    {% endfor %}

{% endif %}



{% endblock %}
