{% extends "Question_App/base.html" %}
{% block content %}


<div class="center" style=" margin-left:20%; margin-right:20%; margin-top:5%">
  <div class="jumbotron">

    <form method="POST">

      {% csrf_token %}
      <h5>Are You Sure You Want To Delete This Answer ? </h5> <br>"{{ object.answer }}"
      <br><br>
        <button type="submit" class="btn btn-outline-danger">Delete</button>
        <a class="btn btn-outline-secondary"href="{% url 'question-detail' object.selected_question.id %}">Cancel</a> <!--\object.id-->
    </form>
  </div>
</div>

{% endblock %}
