<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{ title }}</title>

  </head>
  <body>

  <!--start navbar section-->
  <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top justify-content-end"><!-- navigation tag-->
          <a class="navbar-brand" href="{% url 'home' %}"><strong>QnA</strong></a><!-- anchor tag which display home section contents-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><!-- toggler button which will displays on small screens-->
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="collapsibleNavbar">
            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
              <a href="{% url 'my-question' %}"><li class="nav-item"><button class="btn btn-outline-link mr-3"><strong>My Question</strong></button></li><a>
              <a href="{% url 'my-answer' %}"><li class="nav-item"><button class="btn btn-outline-link mr-3"><strong>My Answers</strong></button></li><a>
              <a href="{% url 'question-create' %}"><li class="nav-item"><button class="btn btn-outline-link mr-3"><strong>Ask Quesstion</strong></button></li><a>
              <a href="{% url 'logout' %}"><li class="nav-item"><button class="btn btn-outline-danger"><strong>LogOut</strong></button></li><a>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
              <a href="{% url 'login' %}"><li class="nav-item"><button class="btn btn-outline-dark  mr-sm-2"><strong>Login</strong></button></li>
              <a href="{% url 'register' %}"><li class="nav-item"><button class="btn btn-outline-dark"><strong>Register</strong></button></li><a>
            </ul>
            {% endif %}

        </div><!--collapsible-nav-->
      </nav><!-- navigation tag-->

  <!--end navbar section-->

  {% if messages %}
    {% for m in messages %}
    <div class="alert alert-{{ m.tags }}" style=" margin-left:20%; margin-right:20%; margin-top:5%">
      {{ m }}
    </div>
    {% endfor %}
  {% endif %}

{% block content %}
{% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rsso2Vu8Ke6GEY5W51wwPPMqKZJowXQCeavH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
