{% extends "Question_App/base.html" %}

{% block content %}

{% if user.is_authenticated %}

<div class="card" style=" margin-left:20%; margin-right:20%; margin-top:5%">
  <div class="card-header">
    <strong>My Questions</strong>
  </div>
  <ul class="list-group list-group-flush">
    {% for i in q_list %}
      {% if i.user == request.user %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-10 center"><a href="{% url 'question-detail' i.pk %}" style="text-decoration:none;">{{ i.question }}</a></div>
            <div class="col-2">
              <div><!--<a href="#" style="text-decoration:none;">Downvote</a>--><strong><a style="color:green;"href="{% url 'question-update' i.pk %}"><button type="button" class="btn btn-outline-secondary btn-sm">Edit</button></a></strong></div>
              <div class="mt-2"><!--<a href="#" style="text-decoration:none;">Downvote</a>--><strong><a style="color:red;"href="{% url 'question-delete' i.pk %}"><button type="button" class="btn btn-outline-danger btn-sm">Delete</button></a></strong></div>
            </div>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}



{% endblock %}
